{{ $page := .page }}
{{ $limit := default 3 .limit }}
{{ $dataYearMonth := .dataYearMonth }}
{{ $dataTags := .dataTags }}
{{ if and (not $dataYearMonth) $page.Date }}
  {{ $dataYearMonth = $page.Date.Format "2006-01" }}
{{ end }}
{{ if and (not $dataTags) $page.Params.tags }}
  {{ $dataTags = delimit $page.Params.tags "," }}
{{ end }}
<article
  class="post-card"
  data-post-url="{{ $page.RelPermalink }}"
  {{ if $dataYearMonth }}data-year-month="{{ $dataYearMonth }}"{{ end }}
  {{ if $dataTags }}data-tags="{{ $dataTags }}"{{ end }}>
  {{ partial "post-image.html" $page }}


  <div class="post-content">
    <h3 class="post-title">
      <a href="{{ $page.RelPermalink }}" onclick="event.stopPropagation();">{{ $page.Title }}</a>
    </h3>

    {{ if $page.Description }}
      <p class="post-description">{{ $page.Description }}</p>
    {{ else if $page.Summary }}
      <p class="post-description" data-raw="{{ $page.Summary | htmlEscape }}"></p>
    {{ end }}
      <!-- <p class="post-description">{{ $page.Summary | safeHTML }}</p> -->


      <!-- {{ $s := $page.Summary }}
      {{/* 1. 统计所有 <div> 的数量 */}}
      {{ $openDivs := findRE "<div" $s }}
      {{ $closeDivs := findRE "</div>" $s }}
      {{/* 2. 计算差值 (numOpen - numClose) */}}
      {{ $diff := sub (len $openDivs) (len $closeDivs) }}
      <div class="post-description">
        {{ $s | safeHTML }}

        {{/* 3. 如果差值大于 0，则循环补齐 </div> */}}
        {{ if gt $diff 0 }}
          {{ range (seq $diff) }}
            </div>
          {{ end }}
        {{ end }}
      </div> -->
    {{ partial "post-meta-inline.html" $page }}

    {{ partial "post-tags-inline.html" (dict "Params" $page.Params "limit" $limit) }}
  </div>
</article>